{{! Mustache Template }}
{{! Changing delimiter, as it is hard to read with LaTeX. }}
{{=<< >>=}}

\documentclass[11pt,a4paper,sans]{moderncv}

\moderncvstyle{banking} % Wide. Dates right.
\moderncvcolor{blue}

\usepackage[utf8]{inputenc}
\usepackage[scale=0.75]{geometry}
\usepackage{changepage}
\usepackage{multicol}
\setlength{\hintscolumnwidth}{4cm}

<<#info>>
\name{<<fname>>}{<<lname>>}
\title{Curriculum Vitae}
\phone[mobile]{<<phone>>}
\email{<<email>>}
\homepage{<<homepage>>}
<</info>>
\extrainfo{
<<#language>>
\cvlanguage{<<lang>>}{<<lvl>>}{}
<</language>>
}

\begin{document}

\makecvtitle

\section{Education}
<<#education>>
\cventry{<<start>> --- <<end>>}{<<degree>>}{<<school>>}{}{}{}
<</education>>

\subsection{Additional Education}
<<#other_education>>
\cventry{<<date>>}{<<program>>}{<<school>>}{}{}{<<info>>}
<</other_education>>

\section{Employment}
<<#employment>>
%%% <<where>> %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\cventry{<<start>><<#end>> --- <<end>><</end>>}
  {<<position>>}
  {<<where>>}
  {}{}{
    \begin{itemize}
      <<#notes>>
      \item <<&.>>
      <</notes>>
    \end{itemize}
  }
<</employment>>

\section{Projects}
<<#student_proj>>
\cvline{<<name>>}{<<what>>}
<</student_proj>>

\section{Honors}
\begin{itemize}
  <<#honors>>
  \item <<&what>>.\hfill\emph{<<when>>}
  <</honors>>
\end{itemize}

\end{document}
