{{! Mustache Template }}
{{! Changing delimiter, as it is hard to read with LaTeX. }}
{{=<< >>=}}

\documentclass[11pt,a4paper,sans]{article}

\usepackage[utf8]{inputenc}
\usepackage{anyfontsize}
\usepackage[scale=0.75]{geometry}
\usepackage[dvipsnames]{xcolor}
\usepackage{fontawesome}
\usepackage{hyperref}
\usepackage{enumitem}

\setitemize{noitemsep,topsep=0pt,parsep=0pt,partopsep=0pt}

\newcommand{\cvcolor}[1]{{\color{MidnightBlue}#1}}
\renewcommand{\section}[1]{
  \cvcolor{\noindent \textbf{\LARGE #1}}
  \vspace{.5em}\\
}
\renewcommand{\subsection}[1]{
  \cvcolor{\noindent \textbf{\Large #1} \dotfill}
  \vspace{.5em}\\
}

\begin{document}
%%%%% TITLE %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
<<#info>>
\noindent
\begin{minipage}{0.6\linewidth}
 {
 \fontsize{40pt}{50pt}\selectfont
 \noindent
 {<<fname>> <<lname>>}}\\
{\LARGE \color{darkgray} {Curriculum Vitae}}
\end{minipage}
\hfill
\begin{tabular}{|rl}
  \href{tel:<<phone>>}{<<phone>>}&\cvcolor{\faPhoneSquare} \\
  \href{mailto:<<email>>}{<<email>>}&\cvcolor{\faEnvelopeSquare} \\
  \href{<<homepage>>}{<<homepage>>}&\cvcolor{\faGlobe} \\
  <</info>>
\end{tabular}

\begin{center}
   <<#language>>
   \textbf{<<lang>>} <<lvl>> \hspace{2ex}
   <</language>>
\end{center}
\vspace{0em}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\section{Education}
<<#education>>
\textbf{<<school>>} \hfill \textsl{<<start>> --- <<end>>}\\
\textsl{<<degree>>}\\
<</education>>

\subsection{Additional Education}
<<#other_education>>
\textbf{<<school>>} \hfill \textsl{<<date>>}\\
\textsl{<<program>>}\\
<<info>>\\
<</other_education>>

\section{Employment}
<<#employment>>
%%% <<where>> %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\textbf{<<where>>} \hfill \textsl{<<start>><<#end>> --- <<end>><</end>>}\\
\textsl{<<position>>}
\begin{itemize}
  <<#notes>>
  \item <<&.>>
  <</notes>>
\end{itemize}
\vspace{1em}
<</employment>>

\section{Teaching}
\vspace{-1em}
\begin{itemize}[leftmargin=*]
  <<#teaching>>
  \item \textbf{<<name>>}, <<where>> <<#num>><<num>><</num>>
  <</teaching>>
\end{itemize}
\vspace{1em}

\section{Projects}
<<#student_proj>>
\textbf{<<name>>}\hfill \textsl{<<when>>}\\
<<what>>\\
<</student_proj>>

\section{Honors}
\vspace{-1em}
\begin{itemize}[leftmargin=*]
  <<#honors>>
  \item <<&what>>.\hfill\textsl{<<when>>}
  <</honors>>
\end{itemize}
\vspace{1em}

\end{document}
